server:
  port: 0                          # Динамический порт

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:6542/main_db
    username: root
    password: "root"               # пароль в кавычках, особенно если содержит спецсимволы
    hikari:
      connection-timeout: 30000     # таймаут соединения
      maximum-pool-size: 10         # максимальный размер пула соединений
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

  application:
    name: main-service            # Имя сервиса для регистрации в Eureka
  config:
    import: "configserver:"
  cloud:
    config:
      discovery:
        enabled: true
        serviceId: config-server
      fail-fast: true
      retry:
        useRandomPolicy: true
        max-interval: 6000

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
    instance-id: "${spring.application.name}:${random.value}"